@font-face {
  font-family: "GalanoMed";
  src: local("GalanoMed"),
    url(./assets/fonts/galanogrotesque-medium.otf) format("truetype");
}

@font-face {
  font-family: "GalanoReg";
  src: local("GalanoReg"),
    url(./assets/fonts/galanogrotesque-regular.otf) format("truetype");
}

@font-face {
  font-family: "GalanoSemiBold";
  src: local("GalanoSemiBold"),
    url(./assets/fonts/galanogrotesque-semibold.otf) format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
