.nav-container {
  display: flex;
  color: white;
  justify-content: space-between;
}

.nav-align {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}
